body{
    background-color: black;
    width:100%;
}
main{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    width:75vW;
    margin:auto;
    height:70vh;
    grid-gap:20px;

}
.green{
    background-color: green;
    grid-column: 1/3;
    grid-row:2/4;
    justify-content: center;
    
}
.yellow{
    background-color: rgb(245, 165, 16);
    grid-column: 4/5;
}
.red{
    background-color: rgb(255, 60, 0);
    grid-column: 1/4;
}
.blue1{
    background-color:aqua;
    grid-column: 3/5;
}
.blue2{
    background-color:rgb(32, 250, 250);
    grid-column: 3/5;
}